.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax1, .navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2 {
  padding: 14px 22px;
  font-size: 15px;
  border-radius: 6px;
}

.loading {
  position: fixed;
  top: 0;
  background-color: #ff612f;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  text-align: center;
}

.loading .hereket {
  width: 4em;
  height: 4em;
  -webkit-transform: perspective(20em) rotateX(-24deg) rotateY(20deg) rotateZ(30deg);
          transform: perspective(20em) rotateX(-24deg) rotateY(20deg) rotateZ(30deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  margin-left: auto;
  margin-right: auto;
}

.loading .hereket::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  border: 2px dotted #fff;
  margin: -15px;
}

.loading .hereket .top {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: hereket 6s linear infinite;
          animation: hereket 6s linear infinite;
}

.loading .hereket .top .disk {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: .3em dotted #fff;
}

.loading .hereket .top .disk:nth-child(1) {
  -webkit-animation: disk1 12s linear infinite;
          animation: disk1 12s linear infinite;
}

.loading .hereket .top .disk:nth-child(2) {
  -webkit-animation: disk2 12s linear infinite;
          animation: disk2 12s linear infinite;
}

.loading .hereket .top .disk:nth-child(3) {
  -webkit-animation: disk3 12s linear infinite;
          animation: disk3 12s linear infinite;
}

@-webkit-keyframes hereket {
  0% {
    -webkit-transform: rotateX(360deg) rotateY(0deg);
            transform: rotateX(360deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg);
            transform: rotateX(0deg) rotateY(360deg);
  }
}

@keyframes hereket {
  0% {
    -webkit-transform: rotateX(360deg) rotateY(0deg);
            transform: rotateX(360deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg);
            transform: rotateX(0deg) rotateY(360deg);
  }
}

@-webkit-keyframes disk1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes disk1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes disk2 {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg);
            transform: rotateX(90deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg);
            transform: rotateX(90deg) rotateZ(360deg);
  }
}

@keyframes disk2 {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg);
            transform: rotateX(90deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg);
            transform: rotateX(90deg) rotateZ(360deg);
  }
}

@-webkit-keyframes disk3 {
  0% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
            transform: rotateY(90deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(90deg) rotateZ(360deg);
            transform: rotateY(90deg) rotateZ(360deg);
  }
}

@keyframes disk3 {
  0% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
            transform: rotateY(90deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(90deg) rotateZ(360deg);
            transform: rotateY(90deg) rotateZ(360deg);
  }
}

.navbar-area {
  background-color: transparent;
  height: auto;
  z-index: 1040;
  left: 0;
  width: 100%;
  top: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar-area.active {
  position: fixed;
  -webkit-animation: nav 0.3s linear;
          animation: nav 0.3s linear;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  background-color: #fff;
}

.navbar-area.active .btn-strax2 {
  border-color: #080a3c !important;
  color: #080a3c !important;
  font-weight: 700;
}

.navbar-area .nav-strax-logo {
  background-color: transparent;
}

.navbar-area .nav-strax-logo .navbar .navbar-brand img {
  max-width: 100%;
  height: auto;
}

.navbar-area .nav-strax-logo .navbar .mean-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 25px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav {
  margin-left: auto;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item a {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  font-size: 15px;
  font-weight: 500;
  color: #4a6f8a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 13px;
  margin-right: 13px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item i {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item:hover a {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item:hover i {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first {
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 635px;
  padding: 0 10px 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.01);
  background: #fff;
  position: absolute;
  border: none;
  top: 60px;
  left: 20px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border-top: 2px solid #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(1) {
  width: 50%;
  padding: 0 10px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(1) h3 {
  font-size: 17px;
  margin-top: 20px;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(1) h3::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  background: #13c4a1;
  width: 30px;
  height: 2px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(1) a {
  display: block;
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(1) a:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(2) {
  width: 50%;
  padding: 0 10px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(2) h3 {
  font-size: 17px;
  margin-top: 20px;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(2) h3::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  background: #13c4a1;
  width: 30px;
  height: 2px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(2) a {
  display: block;
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(2) a:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo {
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo .dropdown-menu {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  border: none;
  top: 60px;
  left: 0;
  width: 250px;
  z-index: 99;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border-top: 2px solid #13c4a1;
  padding: 0;
  border-radius: 5px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo .dropdown-menu .nav-item {
  padding: 0;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo .dropdown-menu .nav-item .nav-link {
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo .dropdown-menu .nav-item .nav-link:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three {
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three .dropdown-menu {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  border: none;
  top: 60px;
  left: 0;
  width: 250px;
  z-index: 99;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border-top: 2px solid #13c4a1;
  padding: 0;
  border-radius: 5px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three .dropdown-menu .nav-item {
  padding: 0;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three .dropdown-menu .nav-item .nav-link {
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three .dropdown-menu .nav-item .nav-link:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button {
  margin-left: 25px;
  text-align: end;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax1 {
  position: relative;
  overflow: hidden;
  color: white;
  background-color: #13c4a1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax1:hover {
  background-color: #080a3c;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax1 i {
  position: relative;
  margin-right: 5px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax1 span {
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2 {
  position: relative;
  overflow: hidden;
  color: white;
  background-color: transparent;
  margin-left: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #080a3c;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2:hover {
  background-color: #080a3c;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2:hover i {
  color: #fff;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2:hover span {
  color: #fff;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2 i {
  position: relative;
  margin-right: 5px;
  color: #ff612f;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2 span {
  position: relative;
  color: #080a3c;
}

#title {
  background-color: #ff612f;
  position: relative;
  z-index: 1;
  padding-top: 130px;
  padding-bottom: 120px;
}

#title::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .6;
  height: 100%;
  z-index: -1;
  -webkit-animation: animatedBackground 15s linear infinite;
          animation: animatedBackground 15s linear infinite;
  background-image: url(../img/bg_lines.svg);
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
}

#title .title-content {
  text-align: center;
}

#title .title-content h2 {
  color: #fff;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 600;
}

#title .title-content p {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0;
}

@-webkit-keyframes animatedBackground {
  100% {
    background-position: 500px 0;
  }
}

@keyframes animatedBackground {
  100% {
    background-position: 500px 0;
  }
}

#services-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

#services-content .services-img {
  margin-bottom: 30px;
}

#services-content .services-img img {
  width: 100%;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

#services-content .services-content {
  margin-top: 5px;
}

#services-content .services-content h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
}

#services-content .services-content p {
  color: #4a6f8a;
  margin-bottom: 12px;
  line-height: 1.8;
  font-size: 15px;
  margin-top: 0;
}

#services-content .services-content h4 {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: 600;
}

#services-content .services-content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  background: #f4f5fe;
  padding: 30px 20px;
  border-radius: 10px;
}

#services-content .services-content .info .info-cards {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}

#services-content .services-content .info .info-cards h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

#services-content .services-content .info .info-cards ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

#services-content .services-content .info .info-cards ul li {
  display: inline-block;
  margin-right: 5px;
  line-height: 1.7;
  margin-bottom: 5px;
}

#services-content .services-content .info .info-cards ul li a {
  background-color: #fff;
  color: #4a6f8a;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 30px;
  line-height: 32px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#services-content .services-content .info .info-cards ul li a:hover {
  color: #13c4a1;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#services-content .services-content .info .info-cards span {
  display: block;
  color: #4a6f8a;
  font-size: 15px;
}

#services-content .services-content .info .info-cards .button {
  display: inline-block;
  padding: 12px 30px;
  color: #fff;
  text-transform: capitalize;
  background-color: #13c4a1;
  border: 1px solid #13c4a1;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

#services-content .services-content .info .info-cards .button:hover {
  background-color: #fff;
  color: #13c4a1;
  -webkit-box-shadow: 0 5px 28.5px 1.5px rgba(19, 196, 161, 0.3);
          box-shadow: 0 5px 28.5px 1.5px rgba(19, 196, 161, 0.3);
}

#subscribe {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#subscribe::before {
  width: 100%;
  height: 50%;
  background-color: #f4f5fe;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  position: absolute;
}

#subscribe .content-sbs {
  position: relative;
  z-index: 1;
  border-radius: 30px;
  text-align: center;
  padding: 70px;
  background-color: #ff612f;
}

#subscribe .content-sbs h2 {
  color: #fff;
  max-width: 610px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight: 500;
}

#subscribe .content-sbs .yeniform {
  max-width: 600px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#subscribe .content-sbs .yeniform input {
  display: block;
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: #c32f00;
  padding: 0 0 0 15px;
  font-size: 14px;
  font-weight: 500;
  outline: 0;
}

#subscribe .content-sbs .yeniform input::-webkit-input-placeholder {
  color: white;
}

#subscribe .content-sbs .yeniform input:-ms-input-placeholder {
  color: white;
}

#subscribe .content-sbs .yeniform input::-ms-input-placeholder {
  color: white;
}

#subscribe .content-sbs .yeniform input::placeholder {
  color: white;
}

#subscribe .content-sbs .yeniform button {
  background-color: #080a3c;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 0;
  line-height: 50px;
  display: block;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
}

#subscribe .content-sbs .yeniform button:hover {
  background-color: #13c4a1;
}

#subscribe .content-sbs .yeniform button:hover i {
  color: #080a3c;
}

#subscribe .content-sbs .yeniform button i {
  margin-right: 2px;
  color: #ff612f;
  font-size: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  top: 4px;
}

#subscribe .content-sbs .shape14 {
  position: absolute;
  left: 5%;
  top: 0;
  z-index: -1;
}

#subscribe .content-sbs .shape14 img {
  -webkit-animation: moveLeftBounce 5s linear infinite;
          animation: moveLeftBounce 5s linear infinite;
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes moveLeftBounce {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveLeftBounce {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

#subscribe .content-sbs .shape15 {
  position: absolute;
  right: 2%;
  top: 4%;
  z-index: -1;
}

#subscribe .content-sbs .shape15 img {
  max-width: 100%;
  height: auto;
}

#subscribe .content-sbs .shape16 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

#subscribe .content-sbs .shape16 img {
  max-width: 100%;
  height: auto;
}

#subscribe .content-sbs .shape17 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#subscribe .content-sbs .shape17 img {
  max-width: 100%;
  height: auto;
}

#subscribe .content-sbs .shape18 {
  position: absolute;
  z-index: -1;
  right: 20%;
  top: 32%;
}

#subscribe .content-sbs .shape18 img {
  max-width: 100%;
  height: auto;
}

#logos {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f4f5fe;
}

#logos .section-title {
  text-align: center;
  max-width: 575px;
  margin-left: auto;
  margin-bottom: 60px;
  margin-right: auto;
}

#logos .section-title h2 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 700;
}

#logos .list-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  margin-top: -10px;
}

#logos .list-logos .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

#logos .list-logos .logo a {
  text-align: center;
  display: block;
  background-color: #fff;
  padding: 30px 20px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  color: #080a3c;
}

#logos .list-logos .logo a:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#logos .list-logos .logo a img {
  max-width: 100%;
  height: auto;
}

#footer-sections {
  background-color: #080a3c;
  position: relative;
  z-index: 1;
  padding-top: 80px;
}

#footer-sections::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../img/footer-shape1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: foot 1.5s linear 1s infinite;
          animation: foot 1.5s linear 1s infinite;
}

#footer-sections::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-animation: foot1 1.5s linear 1s infinite;
          animation: foot1 1.5s linear 1s infinite;
  background-image: url("../img/footer-shape2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@-webkit-keyframes foot {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes foot {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes foot1 {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes foot1 {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

#footer-sections .first .footer-image {
  margin-bottom: 15px;
}

#footer-sections .first .footer-image a {
  display: inline-block;
}

#footer-sections .first .footer-image a img {
  max-width: 100%;
  height: auto;
}

#footer-sections .first p {
  color: #acc5db;
  margin-bottom: 0;
  line-height: 1.8;
  font-size: 15px;
}

#footer-sections .company h3 {
  color: #fff;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 22px;
}

#footer-sections .company ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

#footer-sections .company ul li {
  color: #acc5db;
  margin-bottom: 10px;
}

#footer-sections .company ul li a {
  text-decoration: none;
  display: inline-block;
  color: #acc5db;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
}

#footer-sections .company ul li a:hover {
  color: #13c4a1;
  padding-left: 5px;
}

#footer-sections .support h3 {
  color: #fff;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 22px;
}

#footer-sections .support ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

#footer-sections .support ul li {
  color: #acc5db;
  margin-bottom: 10px;
}

#footer-sections .support ul li a {
  text-decoration: none;
  display: inline-block;
  color: #acc5db;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
}

#footer-sections .support ul li a:hover {
  color: #13c4a1;
  padding-left: 5px;
}

#footer-sections .info h3 {
  color: #fff;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 22px;
}

#footer-sections .info .top {
  list-style-type: none;
  padding: 0;
}

#footer-sections .info .top li {
  color: #fff;
  margin-bottom: 10px;
  font-size: 15px;
}

#footer-sections .info .top li a {
  text-decoration: none;
  display: inline-block;
  color: #acc5db;
  font-size: 15px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#footer-sections .info .top li a:hover {
  color: #13c4a1;
}

#footer-sections .info .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 150px;
  margin-bottom: 0;
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

#footer-sections .info .button li {
  font-size: 15px;
}

#footer-sections .info .button li a {
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #4e6e8a;
  text-align: center;
  font-size: 17px;
  border-radius: 2px;
  font-size: 15px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#footer-sections .info .button li a:hover {
  background-color: #fff;
}

#footer-sections .info .button li a i {
  font-size: 15px;
  color: #080a3c;
}

#footer-sections .finish {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 20px;
  border-top: 1px solid #1c2250;
}

#footer-sections .finish p {
  color: #acc5db;
  font-size: 15px;
}

#footer-sections .finish p a {
  color: #ff612f;
  display: inline-block;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}

#footer-sections .finish p a:hover {
  color: #13c4a1;
}

.go-top {
  cursor: pointer;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: -100px;
  right: 15px;
  color: #080a3c;
  background-color: #fff;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  font-size: 40px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  overflow: hidden;
}

.go-top:hover {
  background-color: #ff612f;
  color: #fff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.go-top.active {
  opacity: 1;
  visibility: visible;
  bottom: 15px;
}

.go-top i {
  color: #080a3c;
  font-size: 25px;
  position: absolute;
  right: 0;
  left: 0;
  top: 60%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: #080a3c;
  background-color: #fff;
  font-size: 15px;
  font-family: poppins, sans-serif;
}
/*# sourceMappingURL=style.css.map */