.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax1, .navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2 {
  padding: 14px 22px;
  font-size: 15px;
  border-radius: 6px;
}

.navbar-area {
  background-color: transparent;
  height: auto;
  z-index: 1040;
  left: 0;
  width: 100%;
  top: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar-area.active {
  position: fixed;
  -webkit-animation: nav 0.3s linear;
          animation: nav 0.3s linear;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  background-color: #fff;
}

.navbar-area.active .btn-strax2 {
  border-color: #080a3c !important;
  color: #080a3c !important;
  font-weight: 700;
}

.navbar-area .nav-strax-logo {
  background-color: transparent;
}

.navbar-area .nav-strax-logo .navbar .navbar-brand img {
  max-width: 100%;
  height: auto;
}

.navbar-area .nav-strax-logo .navbar .mean-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 25px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav {
  margin-left: auto;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item a {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  font-size: 15px;
  font-weight: 500;
  color: #4a6f8a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 13px;
  margin-right: 13px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item i {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item:hover a {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .nav-item:hover i {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first {
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 635px;
  padding: 0 10px 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.01);
  background: #fff;
  position: absolute;
  border: none;
  top: 60px;
  left: 20px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border-top: 2px solid #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(1) {
  width: 50%;
  padding: 0 10px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(1) h3 {
  font-size: 17px;
  margin-top: 20px;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(1) h3::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  background: #13c4a1;
  width: 30px;
  height: 2px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(1) a {
  display: block;
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(1) a:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(2) {
  width: 50%;
  padding: 0 10px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(2) h3 {
  font-size: 17px;
  margin-top: 20px;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(2) h3::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  background: #13c4a1;
  width: 30px;
  height: 2px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(2) a {
  display: block;
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first .dropdown-menu li:nth-of-type(2) a:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .first:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo {
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo .dropdown-menu {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  border: none;
  top: 60px;
  left: 0;
  width: 250px;
  z-index: 99;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border-top: 2px solid #13c4a1;
  padding: 0;
  border-radius: 5px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo .dropdown-menu .nav-item {
  padding: 0;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo .dropdown-menu .nav-item .nav-link {
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo .dropdown-menu .nav-item .nav-link:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .twoo:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three {
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three .dropdown-menu {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  border: none;
  top: 60px;
  left: 0;
  width: 250px;
  z-index: 99;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border-top: 2px solid #13c4a1;
  padding: 0;
  border-radius: 5px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three .dropdown-menu .nav-item {
  padding: 0;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three .dropdown-menu .nav-item .nav-link {
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: #4a6f8a;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three .dropdown-menu .nav-item .nav-link:hover {
  color: #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-nav .three:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button {
  margin-left: 25px;
  text-align: end;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax1 {
  position: relative;
  overflow: hidden;
  color: white;
  background-color: #13c4a1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #13c4a1;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax1:hover {
  background-color: #080a3c;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax1 i {
  position: relative;
  margin-right: 5px;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax1 span {
  position: relative;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2 {
  position: relative;
  overflow: hidden;
  color: white;
  background-color: transparent;
  margin-left: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #080a3c;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2:hover {
  background-color: #080a3c;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2:hover i {
  color: #fff;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2:hover span {
  color: #fff;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2 i {
  position: relative;
  margin-right: 5px;
  color: #ff612f;
}

.navbar-area .nav-strax-logo .navbar .mean-menu .navbar-button .btn-strax2 span {
  position: relative;
  color: #080a3c;
}

#title {
  background-color: #ff612f;
  position: relative;
  z-index: 1;
  padding-top: 130px;
  padding-bottom: 120px;
}

#title::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .6;
  height: 100%;
  z-index: -1;
  -webkit-animation: animatedBackground 15s linear infinite;
          animation: animatedBackground 15s linear infinite;
  background-image: url(../img/bg_lines.svg);
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
}

#title .title-content {
  text-align: center;
}

#title .title-content h2 {
  color: #fff;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 600;
}

#title .title-content p {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0;
}

@-webkit-keyframes animatedBackground {
  100% {
    background-position: 500px 0;
  }
}

@keyframes animatedBackground {
  100% {
    background-position: 500px 0;
  }
}

#pricing-plan {
  padding-bottom: 70px;
  padding-top: 100px;
  background-color: #f4f5fe;
}

#pricing-plan .pricing-title {
  text-align: center;
  max-width: 575px;
  text-transform: capitalize;
  margin-left: auto;
  margin-bottom: 60px;
  margin-right: auto;
}

#pricing-plan .pricing-title h2 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 500;
}

#pricing-plan .pricing-tab ul {
  text-align: center;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

#pricing-plan .pricing-tab ul .left {
  display: inline-block;
}

#pricing-plan .pricing-tab ul .left a {
  border-radius: 30px 0 0 30px;
  color: #fff;
  background-color: #080a3c;
  display: block;
  padding: 10px 30px 10px 53px;
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

#pricing-plan .pricing-tab ul .left a i {
  color: #ff612f;
  margin-right: 2px;
  position: absolute;
  font-size: 18px;
  top: 48%;
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
  left: 30px;
}

#pricing-plan .pricing-tab ul .right {
  display: inline-block;
}

#pricing-plan .pricing-tab ul .right a {
  border-radius: 0 30px 30px 0;
  display: block;
  background-color: #fff;
  color: #8d8fb4;
  padding: 10px 30px 10px 53px;
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

#pricing-plan .pricing-tab ul .right a i {
  color: #ff612f;
  margin-right: 2px;
  position: absolute;
  font-size: 18px;
  top: 48%;
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
  left: 30px;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table {
  margin-bottom: 30px;
  text-align: center;
  background-color: #fff;
  padding-bottom: 30px;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .header {
  padding-top: 25px;
  padding-bottom: 20px;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .header h3 {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .price {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 8px;
  padding-bottom: 5px;
  border-top: 2px dashed #f4f5fe;
  border-bottom: 2px dashed #f4f5fe;
  font-weight: 600;
  font-size: 40px;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .price sup {
  top: -18px;
  font-size: 18px;
  font-weight: 500;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .price sub {
  bottom: 2px;
  color: #4a6f8a;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 500;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table ul {
  padding-left: 0;
  text-align: left;
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 50px;
  margin-right: 50px;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table ul li {
  padding-left: 21px;
  margin-bottom: 10px;
  position: relative;
  color: #444683;
  line-height: 1.5;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table ul li i {
  left: 0;
  right: auto;
  color: #13c4a1;
  position: absolute;
  top: 3px;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table ul li span {
  position: absolute;
  right: auto;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table ul li span i {
  color: #8d8fb4;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .pricing-batn {
  margin-top: 30px;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .pricing-batn .pricingbtn-1 {
  border: none;
  position: relative;
  background-color: #080a3c;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-decoration: none;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .pricing-batn .pricingbtn-1 i {
  color: #ff612f;
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .two .pricingbtn-1 {
  background-color: #ff612f;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .two .pricingbtn-1 i {
  color: #080a3c;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .three .pricingbtn-1 {
  background-color: #13c4a1;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .three .pricingbtn-1 i {
  color: #ff612f;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .pricing-table-private {
  position: absolute;
  bottom: -650px;
  left: 0;
  right: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #fff;
  border-radius: 5px;
  z-index: 5;
}

#pricing-plan .pricing-tab .tab-content .tabs-item .pricing-table .pricing-table-private.active {
  visibility: visible;
  bottom: 30px;
}

#accordions {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

#accordions .section-accordion {
  margin-left: auto;
  max-width: 745px;
}

#accordions .section-accordion h2 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
}

#accordions .section-accordion h2 span {
  display: inline-block;
  color: #ff612f;
}

#accordions .section-accordion .accordion {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

#accordions .section-accordion .accordion .accordion-item {
  background: #f5f5ff;
  display: block;
  margin-bottom: 10px;
}

#accordions .section-accordion .accordion .accordion-item.active .accordion-title::before {
  color: #ff612f;
  content: "-";
}

#accordions .section-accordion .accordion .accordion-item .accordion-title {
  padding: 12px 40px 10px 20px;
  color: #080a3c;
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

#accordions .section-accordion .accordion .accordion-item .accordion-title::before {
  content: "+";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #080a3c;
  font-size: 22px;
  -webkit-transition: .5s;
  transition: .5s;
}

#accordions .section-accordion .accordion .accordion-item p {
  position: relative;
  font-size: 14px;
  color: #4a6f8a;
  font-weight: 500;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 15px;
}

#accordions .section-accordion .accordion .accordion-item.active p {
  border-top: 1px solid #ff612f;
  height: 80px;
  padding: 15px 15px;
}

#accordions .accordion-image {
  text-align: center;
}

#accordions .accordion-image img {
  max-width: 100%;
  height: auto;
}

#logos {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f4f5fe;
}

#logos .section-title {
  text-align: center;
  max-width: 575px;
  margin-left: auto;
  margin-bottom: 60px;
  margin-right: auto;
}

#logos .section-title h2 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 700;
}

#logos .list-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  margin-top: -10px;
}

#logos .list-logos .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

#logos .list-logos .logo a {
  text-align: center;
  display: block;
  background-color: #fff;
  padding: 30px 20px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  color: #080a3c;
}

#logos .list-logos .logo a:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#logos .list-logos .logo a img {
  max-width: 100%;
  height: auto;
}

#practice {
  background-color: #f4f5fe;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

#practice .section-title {
  text-align: center;
  max-width: 695px;
  margin-left: auto;
  margin-right: auto;
}

#practice .section-title h2 {
  font-size: 40px;
  font-weight: 500;
}

#practice .section-title p {
  color: #4a6f8a;
  margin-bottom: 12px;
  line-height: 1.8;
  font-size: 15px;
  margin-top: 20px;
}

#practice .section-title a {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  background-color: #ff612f;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 20px;
  text-decoration: none;
}

#practice .section-title a:hover {
  background-color: #13c4a1;
}

#practice .section-title a i {
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  color: #080a3c;
}

#practice .shape10 {
  position: absolute;
  right: 30%;
  bottom: 25%;
  z-index: -1;
}

#practice .shape10 img {
  max-width: 100%;
  height: auto;
  -webkit-animation: shape10 20s infinite linear;
          animation: shape10 20s infinite linear;
}

#practice .shape11 {
  position: absolute;
  left: 25%;
  bottom: 27%;
  z-index: -1;
}

#practice .shape11 img {
  max-width: 100%;
  height: auto;
  -webkit-animation: shape11 3s infinite linear;
          animation: shape11 3s infinite linear;
}

#practice .shape12 {
  position: absolute;
  left: 10%;
  bottom: 50%;
  z-index: -1;
}

#practice .shape12 img {
  max-width: 100%;
  height: auto;
  -webkit-animation: shape10 20s infinite linear;
          animation: shape10 20s infinite linear;
}

#practice .shape13 {
  position: absolute;
  right: 18%;
  bottom: 60%;
  z-index: -1;
}

#practice .shape13 img {
  max-width: 100%;
  height: auto;
  -webkit-animation: shape10 20s infinite linear;
          animation: shape10 20s infinite linear;
}

@-webkit-keyframes shape10 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes shape10 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes shape11 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes shape11 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#footer-sections {
  background-color: #080a3c;
  position: relative;
  z-index: 1;
  padding-top: 80px;
}

#footer-sections::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../img/footer-shape1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: foot 1.5s linear 1s infinite;
          animation: foot 1.5s linear 1s infinite;
}

#footer-sections::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-animation: foot1 1.5s linear 1s infinite;
          animation: foot1 1.5s linear 1s infinite;
  background-image: url("../img/footer-shape2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@-webkit-keyframes foot {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes foot {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes foot1 {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes foot1 {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

#footer-sections .first .footer-image {
  margin-bottom: 15px;
}

#footer-sections .first .footer-image a {
  display: inline-block;
}

#footer-sections .first .footer-image a img {
  max-width: 100%;
  height: auto;
}

#footer-sections .first p {
  color: #acc5db;
  margin-bottom: 0;
  line-height: 1.8;
  font-size: 15px;
}

#footer-sections .company h3 {
  color: #fff;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 22px;
}

#footer-sections .company ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

#footer-sections .company ul li {
  color: #acc5db;
  margin-bottom: 10px;
}

#footer-sections .company ul li a {
  text-decoration: none;
  display: inline-block;
  color: #acc5db;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
}

#footer-sections .company ul li a:hover {
  color: #13c4a1;
  padding-left: 5px;
}

#footer-sections .support h3 {
  color: #fff;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 22px;
}

#footer-sections .support ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

#footer-sections .support ul li {
  color: #acc5db;
  margin-bottom: 10px;
}

#footer-sections .support ul li a {
  text-decoration: none;
  display: inline-block;
  color: #acc5db;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
}

#footer-sections .support ul li a:hover {
  color: #13c4a1;
  padding-left: 5px;
}

#footer-sections .info h3 {
  color: #fff;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 22px;
}

#footer-sections .info .top {
  list-style-type: none;
  padding: 0;
}

#footer-sections .info .top li {
  color: #fff;
  margin-bottom: 10px;
  font-size: 15px;
}

#footer-sections .info .top li a {
  text-decoration: none;
  display: inline-block;
  color: #acc5db;
  font-size: 15px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#footer-sections .info .top li a:hover {
  color: #13c4a1;
}

#footer-sections .info .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 150px;
  margin-bottom: 0;
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

#footer-sections .info .button li {
  font-size: 15px;
}

#footer-sections .info .button li a {
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #4e6e8a;
  text-align: center;
  font-size: 17px;
  border-radius: 2px;
  font-size: 15px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#footer-sections .info .button li a:hover {
  background-color: #fff;
}

#footer-sections .info .button li a i {
  font-size: 15px;
  color: #080a3c;
}

#footer-sections .finish {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 20px;
  border-top: 1px solid #1c2250;
}

#footer-sections .finish p {
  color: #acc5db;
  font-size: 15px;
}

#footer-sections .finish p a {
  color: #ff612f;
  display: inline-block;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}

#footer-sections .finish p a:hover {
  color: #13c4a1;
}

.go-top {
  cursor: pointer;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: -100px;
  right: 15px;
  color: #080a3c;
  background-color: #fff;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  font-size: 40px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  overflow: hidden;
}

.go-top:hover {
  background-color: #ff612f;
  color: #fff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.go-top.active {
  opacity: 1;
  visibility: visible;
  bottom: 15px;
}

.go-top i {
  color: #080a3c;
  font-size: 25px;
  position: absolute;
  right: 0;
  left: 0;
  top: 60%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: #080a3c;
  background-color: #fff;
  font-size: 15px;
  font-family: poppins, sans-serif;
}
/*# sourceMappingURL=style.css.map */